<header class="header">
  <div class="container">
    <h1>
      <a href="{{ path('home') }}">
        <span class="sr-only">{{ app.name }}</span>
        {{ include('logo.svg.twig', {modifier: 'global'}) }}
      </a>
    </h1>

    <div class="balloons">
      {{ include('balloon.svg.twig', {modifier: 'small'}) }}
      {{ include('balloon.svg.twig', {modifier: 'large'}) }}
      {{ include('balloon.svg.twig', {modifier: 'medium'}) }}
    </div>

    {% if nav %}
      <div class="js-nav-toggle js-shown">
        <button
          class="navbar-toggle collapsed"
          aria-label="Toggle Navigation"
          data-target="#nav"
          data-toggle="collapse"
          type="button"
          role="button"
        >
          <span class="lines"></span>
        </button>
      </div>
    {% endif %}
  </div>
</header>
