<nav id="nav" class="navbar navbar-default navbar-collapse collapse" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="{{ url('home') == app.request.uri or url('home') ~ '?' in app.request.uri ? 'active' }}">
        <a href="{{ url('home') }}">Home</a>
      </li>
      <li class="{{ url('events') in app.request.uri ? 'active' }}">
        <a href="{{ url('events') }}">Events</a>
      </li>
      <li class="{{ url('speakers') in app.request.uri ? 'active' }}">
        <a href="{{ url('speakers') }}">Speakers</a>
      </li>
      <li class="{{ url('sponsors') in app.request.uri ? 'active' }}">
        <a href="{{ url('sponsors') }}">Sponsors</a>
      </li>
      <li class="{{ url('talks') in app.request.uri ? 'active' }}">
        <a href="{{ url('talks') }}">Talks</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if meetup.group.members is defined %}
        <li class="hidden-xs hidden-sm">
          <a href="{{ app.meetup.url }}/members">
            <i class="fa fa-group"></i>
            {{ meetup.group.members }} {{ meetup.group.who | lower }}
          </a>
        </li>
      {% endif %}

      {% if meetup.group.rating.average | default > 3 %}
        <li class="hidden-xs hidden-sm">
          <a href="{{ app.meetup.url }}/about/comments/?op=all">
            <i class="fa fa-thumbs-o-up"></i>
            {{ meetup.group.rating.average | round(1) }}/5 from {{ meetup.group.rating.count }} ratings
          </a>
        </li>
      {% endif %}

      <li>
        <a href="{{ app.twitter.url }}" title="Follow us on Twitter (@{{ app.twitter.user }})">
          <i class="fa fa-twitter"></i>
        </a>
      </li>

      <li>
        <div>
          <a href="{{ app.meetup.url }}" class="btn btn-primary navbar-btn" style="margin: 8px" title="Find us on Meetup">
            Join group
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
