<div id="slides-{{ talk.id }}" class="slides {%- if size is defined %} slides--{{ size }} {%- endif %}">
  {% if talk.slides.iframe %}
    <iframe
      src="{{ talk.slides.iframe }}"
      frameborder="0"
      allowfullscreen mozallowfullscreen webkitallowfullscreen
    >
    </iframe>
  {% elseif talk.slides.embedly %}
    <a href="{{ talk.slides.embedly }}" class="embedly-card" data-card-chrome="0"></a>
  {% endif %}

  <a href="{{ talk.slides.url }}">
    View {{ talk.slides.type and talk.slides.type != 'PDF' ? 'on' }} {{ talk.slides.type ? talk.slides.type : 'slides' }}
    <i class="fa fa-external-link"></i>
  </a>
</div>
