<div id="slides-{{ talk.id }}" class="slides {%- if size is defined %} slides--{{ size }} {%- endif %}">
  {% if not talk.slides.embedly %}
    <iframe
      src="{{ talk.slides.embed }}"
      frameborder="0"
      allowfullscreen mozallowfullscreen webkitallowfullscreen
    >
    </iframe>
  {% else %}
    <a href="{{ talk.slides.url }}" class="embedly-card" data-card-chrome="0"></a>
  {% endif %}

  <div class="row">
    <div class="col-xs-{{ size == 'large' ? 12 : 6 }}">
      <a href="{{ talk.slides.url }}">
        View slides {{ talk.slides.type ? 'on ' ~ talk.slides.type }}
        <i class="fa fa-external-link"></i>
      </a>
    </div>
    {% if size is defined and size == 'large' %}
      <div class="col-xs-6 text-right">
        <a href="{{ path('event', {'id': talk.event.id, 'slug': talk.event.slug}) }}">
          {{- talk.event.name -}}
        </a>,

        {{ talk.event.date.format('F Y') }}
      </div>
    {% endif %}
  </div>
</div>
