<div id="slides-{{ talk.id }}" class="slides {%- if size is defined %} slides--{{ size }} {%- endif %}">
  {% if not talk.slides.embedly %}
    <iframe
      src="{{ talk.slides.embed }}"
      frameborder="0"
      allowfullscreen mozallowfullscreen webkitallowfullscreen
    >
    </iframe>
  {% else %}
    <a href="{{ talk.slides.url }}" class="embedly-card" data-card-chrome="0"></a>
  {% endif %}

  <a href="{{ talk.slides.url }}">
    View {{ talk.slides.type ? 'on ' ~ talk.slides.type : 'slides' }}
    <i class="fa fa-external-link"></i>
  </a>
</div>
