<div id="video-{{ talk.id }}" class="video {%- if size is defined %} video--{{ size }} {%- endif %}">
  <iframe
    src="{{ talk.video.embed }}"
    frameborder="0" scrolling="no"
    allowfullscreen mozallowfullscreen webkitallowfullscreen
  >
  </iframe>

  <a href="{{ talk.video.url }}" {%- if size == 'small' %} class="js-hidden" {%- endif %}>
    View on {{ talk.video.type }}
    <i class="fa fa-external-link"></i>
  </a>
</div>
