<article class="tweet box">
    <header class="box__header">
        <h3>{{ tweet.html | raw }}</h3>
    </header>

    {% if tweet.entities.media is defined %}
        {% for media in tweet.entities.media %}
            {% if media.type == 'photo' %}
                <a href="{{ media.expanded_url_https }}" rel="external">
                    <img src="{{ media.media_url_https }}">
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <footer class="box__footer">
        <a href="{{ tweet.url }}">
            <i class="fa fa-clock-o"></i>
            <time datetime="{{ tweet.created_date.format(constant('DATE_W3C')) }}">
                {{ tweet.created_date.format('l jS F Y') }}
            </time>
        </a>
    </footer>
</article>
