<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ block('title') ? block('title') ~ ' · ' }}{{ app.title }}</title>
    <meta name="description" content="{{ app.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/rev/{{ 'now' | date('YmdHi') }}/css/vendor.css">
    <link rel="stylesheet" href="/rev/{{ 'now' | date('YmdHi') }}/css/main.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1>
          <a href="{{ path('home') }}">
            <span class="sr-only">{{ app.name }}</span>
            {{ include('logo.svg.twig') }}
          </a>
        </h1>
        <div class="balloons">
          {{ include('balloon.svg.twig', {size: 'small'}) }}
          {{ include('balloon.svg.twig', {size: 'large'}) }}
          {{ include('balloon.svg.twig', {size: 'medium'}) }}
        </div>
      </div>
    </header>

    {{ include('nav.html.twig') }}

    <main>
      {% block main %}
        {% if block('hero') %}
          <div class="hero">
            <div class="hero__image" style="background-image: url('{{ block('hero') | trim }}')">
            </div>
            <div class="hero__overlay"></div>
          </div>
        {% endif %}

        <div class="container">
          {{ block('content') }}
        </div>
      {% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <nav>
          <ul class="list col-xs-3">
            <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="{{ path('events') }}"><span class="glyphicon glyphicon-calendar"></span> Events</a></li>
            <li><a href="{{ path('speakers') }}"><span class="glyphicon glyphicon-comment"></span> Speakers</a></li>
            <li><a href="{{ path('sponsors') }}"><span class="glyphicon glyphicon-briefcase"></span> Sponsors</a></li>
          </ul>

          <ul class="list col-xs-3">
            <li>
              <a
                href="mailto:{{ app.organisers.steve.email | replace({'@': ' at ', '.': ' dot '}) }}"
                class="email"
              >
                <span class="glyphicon glyphicon-envelope"></span>
                Get in touch
              </a>
            </li>
            <li>
              <a
                href="mailto:{{ app.organisers.steve.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=Speaking at PHPSW"
                class="email"
              >
                <span class="glyphicon glyphicon-comment"></span>
                Submit a talk
              </a>
            </li>
            <li>
              <a
                href="mailto:{{ app.organisers.steve.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=PHPSW sponsorship"
                class="email"
              >
                <span class="glyphicon glyphicon-briefcase"></span>
                Sponsor us
              </a>
            </li>
            <li>
              <a href="{{ path('brand') }}">
                <span class="glyphicon glyphicon-picture"></span>
                Brand
              </a>
            </li>
          </ul>

          <ul class="list col-xs-3">
            <li>
              <a href="{{ app.meetup.url }}" class="genericon genericon-month">
                Find us on Meetup
              </a>
            </li>
            <li>
              <a href="{{ app.twitter.url }}" class="genericon genericon-twitter">
                Tweet us at @{{ app.twitter.user }}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{{ app.github.url }}" class="genericon genericon-github">
                Fork this on GitHub
              </a>
            </li>
          </ul>
        </nav>

        {{ include('balloon.svg.twig', {size: 'large'}) }}
      </div>
    </footer>

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/rev/{{ 'now' | date('YmdHi') }}/js/vendor.js"></script>
    <script src="/rev/{{ 'now' | date('YmdHi') }}/js/main.js"></script>
  </body>
</html>
