{% extends 'basic.html.twig' %}

{% block body %}
  {% block header %}
    {{ include('partials/header.html.twig') }}
  {% endblock %}

  <div class="content">
    {% block nav %}
      {{ include('partials/nav.html.twig') }}
    {% endblock %}

    {% if block('hero') | trim %}
      <div class="hero hero--{{ block('hero_modifier') | trim | default('default') }}">
        <div class="hero__image" style="background-image: {{ 'url' in block('hero') ? block('hero') | trim : ("url('" ~ block('hero') | trim ~ "')") }}"></div>
        <div class="hero__overlay"></div>

        {# include('bar.html.twig') #}
      </div>
    {% else %}
      {# include('bar.html.twig') #}
    {% endif %}

    <main>
      {% block main %}
        <div class="container">
          <header class="page-header">
            {% block page_header %}
              <h1>{{ block('title') }}</h1>
            {% endblock %}
          </header>

          {{ block('content') }}
        </div>
      {% endblock %}
    </main>
  </div>

  {% block footer %}
    {{ include('partials/footer.html.twig') }}
  {% endblock %}

  <script src="//cdn.embedly.com/widgets/platform.js"></script>
  <script src="//maps.google.com/maps/api/js?sensor=true"></script>
{% endblock %}
