<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ block('title') ? (block('title') ~ ' · ') | raw }}{{ app.title }}</title>
    <meta name="description" content="{{ app.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/rev/{{ 'now' | date('YmdHi') }}/css/vendor.css">
    <link rel="stylesheet" href="/rev/{{ 'now' | date('YmdHi') }}/css/main.css">
  </head>
  <body>
    {% block body %}
      <div class="content">
        <main>
          {% block main %}
            <div class="container">
              <header class="page-header">
                {% block page_header %}
                  <h1>{{ block('title') }}</h1>
                {% endblock %}
              </header>

              {{ block('content') }}
            </div>
          {% endblock %}
        </main>
      </div>
    {% endblock %}

    <script src="/rev/{{ 'now' | date('YmdHi') }}/js/vendor.js"></script>
    <script src="/rev/{{ 'now' | date('YmdHi') }}/js/main.js"></script>
  </body>
</html>
