<article id="comment-{{ comment.id }}" class="comment">
  {% if comment.member.url %}
    <a href="{{ comment.member.url }}">
      <div class="avatar avatar--medium">
        <img src="{{ avatar(comment.member.photo.url, 'medium') }}" alt="{{ comment.member.name }}">
      </div>
    </a>
  {% else %}
    <div class="avatar avatar--medium">
      <img src="{{ avatar(comment.member.photo.url, 'medium') }}" alt="{{ comment.member.name }}">
    </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>
        {% if comment.member.url %}
          <a href="{{ comment.member.url }}" title="{{ comment.member.bio | default }}">
            {{- comment.member.name -}}
          </a>
        {% else %}
          {{ comment.member.name }}
        {% endif %}
        {% if comment.member.organiser %}
          <span class="badge progress-bar-success">Organiser</span>
        {% endif %}
        {% if comment.speaker %}
          <span class="badge progress-bar-warning">Speaker</span>
        {% endif %}
      </strong>
      <a href="#comment-{{ comment.id }}" class="text-muted">
        <time datetime="{{ comment.date | date(constant('DATE_W3C')) }}">
          {%- if comment.date >= date('2 weeks ago') -%}
            {{ comment.date | time_ago_in_words }}
          {%- else -%}
            {{ comment.date | date ('F jS Y') }}
          {%- endif -%}
        </time>
      </a>
    </div>
    <div class="panel-body">
      {{ comment.comment | linkify | emoji | markdown }}
    </div>
  </div>
</article>

{% if comment.replies|default %}
  {{ include('comments.html.twig', {comments: comment.replies})}}
{% endif %}
