{% extends 'base.html.twig' %}

{% block title %}
  {{ event.name }}
{% endblock %}

{% block hero %}
  {{ event.photos ? hero(random(event.photos).highres_link) }}
{% endblock %}

{% block page_header %}
  <div class="row">
    <div class="col-xs-9">
      <h1>
        {{ block('title') }}

        <small>
          {{ event.date.format('F Y') }}
        </small>
      </h1>
    </div>

    <div class="col-xs-3 text-right">
      <time class="calendar-date" datetime="{{ event.date.format(constant('DATE_W3C')) }}">
         <span class="calendar-date__month">{{ event.date.format('M') }}</span>
         <span class="calendar-data__day">{{ event.date.format('d') }}</span>
      </time>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div id="event-{{ event.id }}" class="event event--{{ event.status }}">
    <div class="container">
      <header class="page-header event__header">
        {{ block('page_header') }}
      </header>

      {% if event.yes_rsvp_count > 0 or event.rating is defined and event.rating.average > 3 %}
        <div class="event__stats text-right">
          {% if event.yes_rsvp_count > 0 %}
            <a href="#attendees" class="event__stats__stat">
              <i class="fa fa-group"></i>
              {{ event.yes_rsvp_count }}

              {% if event.status == 'upcoming' %}
                attending
              {% else %}
                attended
              {% endif %}
            </a>
          {% endif %}

          {% if event.rating is defined and event.rating.average > 3 %}
            <span class="event__stats__stat">
              <i class="fa fa-thumbs-o-up"></i>
              {{ event.rating.average | round(1) }}/5 by {{ event.rating.count }} {{ event.group.who | lower }}
            </span>
          {% endif %}
        </div>
      {% endif %}

      <div class="event__body">
        <div class="row">
          <div class="col-sm-8">
            {{ event.abstract | raw }}
          </div>
          <div class="col-sm-4 text-right">
            <a href="{{ event.url }}" class="btn btn-primary">
              {% if event.status == 'upcoming' %}
                RSVP
              {% else %}
                View on Meetup
              {% endif %}
            </a>
          </div>
        </div>

        {% if event.details or event.extras or event.talks %}
          <div class="row">
            <div class="col-sm-8">
              {% if event.talks %}
                {{ include('talks.html.twig', {talks: event.talks}) }}
              {% endif %}

              {% if event.details %}
                <h2 class="sr-only">Details</h2>

                {{ event.details | raw }}
              {% endif %}
            </div>

            <div class="col-sm-4">
              <h2 class="sr-only">Additional info</h2>

              {% if event.extras %}
                {% for extra in event.extras %}
                  <h3>{{ extra.heading }}</h3>

                  {{ extra.content | raw }}
                {% endfor %}
              {% endif %}

              <h3>Suggestion box</h3>
              <p>
                We're always looking for new ideas, if you have any suggestions
                for talk nights, speakers or things you'd like to see at PHPSW,
                drop us a line:
              </p>
              {{ include('message.html.twig', {subject: 'suggestion'}) }}
            </div>
          </div>
        {% endif %}

        {% if event.photos %}
          {{ include('photos.html.twig', {photos: event.photos}) }}
        {% endif %}
      </div>

      {% if event.prev %}
        <a
          href="{{ path('event', {id: event.prev.id, slug: event.prev.slug}) }}"
          class="event__prev"
          title="{{ event.prev.name }} &middot; {{ event.prev.date.format('F Y') }}"
        >
          <i class="fa fa-chevron-left"></i>
          <span class="sr-only">Prev</span>
        </a>
      {% endif %}
      {% if event.next %}
        <a
          href="{{ path('event', {id: event.next.id, slug: event.next.slug}) }}"
          class="event__next"
          title="{{ event.next.name }} &middot; {{ event.next.date.format('F Y') }}"
        >
          <i class="fa fa-chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      {% endif %}
    </div>

    {% if event.venue %}
      <div
        id="venue" class="event__venue"
        {% if (event.venue.lat) %}data-latitude="{{ event.venue.lat }}"{% endif %}
        {% if (event.venue.lon) %}data-longitude="{{ event.venue.lon }}"{% endif %}
        style="background-image: url('{{
            'http://maps.googleapis.com/maps/api/staticmap?markers='
            ~ event.venue.lat ~ ',' ~ event.venue.lon ~
            '&scale=2&size=640x320&zoom=16'
        }}')"
      >
        <div class="event__venue__overlay">
          <h2>Venue</h2>

          <p class="event__venue__address">
            <strong class="event__venue__name">{{ event.venue.name }}</strong>,<br>
            {{ event.venue.address_1 | trim }},<br>
            {{ event.venue.city }}
          </p>
        </div>
      </div>
    {% endif %}

    <div id="attendees" class="container">
      {% if event.rsvps %}
        <h2 id="attendees">Attendees</h2>

        <ul class="event__attendees list list--images list--inline">
          {% for rsvp in event.rsvps if rsvp.response == 'yes' %}
            <li>
              <a href="{{ app.meetup.url }}/members/{{ rsvp.member.id }}" class="event__attendee" title="{{ rsvp.member.name }}">
                <div class="avatar avatar--small">
                  <img src="{{ avatar(rsvp.member.photo.url) }}" alt="{{ rsvp.member.name }}">
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if event.comments %}
        <h2 id="comments">Comments</h2>

        {{ include('comments.html.twig', {comments: event.comments}) }}
      {% endif %}

      {% if 'basekit' in event.venue.name | lower or
            'brightpearl' in event.venue.name | lower or
            event.date > date('2014-08-01')
      %}
        <footer class="event__footer">
          <h2 id="sponsors">Sponsors</h2>

          <div class="row">
            {% for type, sponsors in sponsors(event) | reverse %}
              {% for sponsor in sponsors %}
                <div class="col-xs-4 col-sm-3">
                  <a href="{{ sponsor.url }}" title="{{ sponsor.description }}">
                    <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                  </a>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </footer>
      {% endif %}
    </div>
  </div>
{% endblock %}
