{% extends 'base.html.twig' %}

{% block title %}
  Events
{% endblock %}

{% block hero %}
  {{ hero('http://photos3.meetupstatic.com/photos/event/8/4/7/8/highres_366333912.jpeg') }}
{% endblock %}

{% block content %}
  <div class="events row">
    <div class="col-sm-8">
      {% if event %}
        <h2>
          {% if event.status == 'upcoming' %}
            Next event
          {% else %}
            Recent events
          {% endif %}
        </h2>

        {{ include('meetup/event-list-item.html.twig') }}
      {% endif %}

      {% for status in statuses if attribute(_context, status) %}
        <section id="{{ status }}-events" class="events__{{ status }}">
          <h2>{{ status | title }} events</h2>

          {% for event in attribute(_context, status) %}
            {% if not loop.first or status == 'past' %}
              {% if prev is not defined or event.date.format('Y') != prev.date.format('Y') %}
                <h3>{{ event.date.format('Y') }}</h3>
              {% endif %}
            {% endif %}

            {{ include('meetup/event-list-item.html.twig') }}

            {% set prev = event %}
          {% else %}
            {% if status == 'upcoming' %}
              <div class="box box--empty">
                Nothing to announce right now,
                <a href="{{ app.twitter.url }}">
                  follow us on Twitter
                </a>
                for updates.
              </div>
            {% endif %}
          {% endfor %}
        </section>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <div class="events-calendar"></div>

      {{ include('partials/speaking.html.twig') }}
    </div>
  </div>
{% endblock %}
