<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        {{ include('logo.svg.twig', {modifier: 'greyscale'}) }}
      </div>

      <div class="col-xs-12 col-sm-8">
        <nav class="row">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <h4>Meetup</h4>

            <ul class="list">
              <li>
                <a href="{{ path('home') }}">
                  <i class="fa fa-home"></i>
                  Home
                </a>
              </li>
              <li>
                <a href="{{ path('events') }}">
                  <i class="fa fa-calendar"></i>
                  Events
                </a>
              </li>
              <li>
                <a href="{{ path('speakers') }}">
                  <i class="fa fa-bullhorn"></i>
                  Speakers
                </a>
              </li>
              <li>
                <a href="{{ path('sponsors') }}">
                  <i class="fa fa-briefcase"></i>
                  Sponsors
                </a>
              </li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <h4>Support us</h4>

            <ul class="list">
              <li>
                <a href="{{ path('brand') }}">
                  <i class="fa fa-picture-o"></i>
                  Brand assets
                </a>
              </li>
              <li>
                <a href="{{ path('conduct') }}">
                  <i class="fa fa-file-text-o"></i>
                  Code of conduct
                </a>
              </li>
              <li>
                <a
                  href="mailto:{{ app.email | replace({'@': ' at ', '.': ' dot '}) }}"
                  class="email"
                >
                  <i class="fa fa-paper-plane-o"></i>
                  Get in touch
                </a>
              </li>
              <li>
                <a
                  href="mailto:{{ app.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=Speaking at PHPSW"
                  class="email"
                >
                  <i class="fa fa-comments-o"></i>
                  Submit a talk
                </a>
              </li>
              <li>
                <a
                  href="mailto:{{ app.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=PHPSW sponsorship"
                  class="email"
                >
                  <i class="fa fa-money"></i>
                  Sponsor us
                </a>
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-4 col-lg-3">
            <h4>Stay connected</h4>

            <ul class="list">
              <li>
                <a href="{{ app.meetup.url }}">
                  <i class="fa fa-calendar"></i>
                  Find us on Meetup
                </a>
              </li>
              <li>
                <a href="{{ app.twitter.url }}">
                  <i class="fa fa-twitter"></i>
                  Follow us on Twitter
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ app.github.url }}">
                  <i class="fa fa-github"></i>
                  Fork this on GitHub
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="col-sm-2 hidden-xs hidden-sm">
        <div class="balloons">
          {{ include('balloon.svg.twig', {modifier: 'small'}) }}
          {{ include('balloon.svg.twig', {modifier: 'large'}) }}
          {{ include('balloon.svg.twig', {modifier: 'medium'}) }}
        </div>
      </div>
    </div>
  </div>
</footer>
