{% extends 'base.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col-sm-8">
  <div class="page-header">
    <h1>PHP meetups in the south west, UK</h1>
  </div>
      {{ meetup.group.description | raw }}
      <!-- {{ render(path('tweets')) }} -->
      <!-- {{ render(path('meetup_reviews')) }} -->
    </div>

    <div class="col-sm-4">
      {{ render(path('meetup_sponsors')) }}
    </div>
  </div>

  <section class="contact">
    <h2 class="sr-only">Get in touch</h2>

    <ul class="organisers list">
      {% for organiser in app.organisers %}
        <li class="organiser organiser--{{ organiser.first_name | lower }}">
          <a href="{{ organiser.url }}">
            <img src="{{ organiser.photo }}" class="avatar avatar--large" alt="{{ organiser.name }}">
            <span class="organiser__name">{{ organiser.name }}</span>
          </a>

          <ul class="organiser__social list list--inline">
            <li>
              <a href="{{ organiser.url }}">
                <span class="glyphicon glyphicon-globe"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/{{ organiser.twitter }}">
                <span class="genericon genericon-twitter"></span>
              </a>
            </li>
            <li>
              <a href="https://github.com/{{ organiser.github }}">
                <span class="genericon genericon-github"></span>
              </a>
            </li>
          </ul>

          {#
          <span>{{ organiser.email | replace({'@': ' at ', '.': ' dot '}) }}</span>
          #}
        </li>
      {% endfor %}
    </ul>
  </section>

  <div id="x" class="lightbox-x"></div>
{% endblock %}
