{% extends 'base.html.twig' %}

{% block hero %}
  http://photos1.meetupstatic.com/photos/event/8/8/9/2/highres_366334962.jpeg
{% endblock %}

{% block page_header %}
  <h1>PHP meetups in the south west, UK</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {{ meetup.group.description | raw }}

      {% if events %}
        <section>
          <h2>Upcoming events</h2>

          {% for event in events %}
            {{ include('meetup/event-list-item.html.twig') }}
          {% endfor %}
        </section>
      {% endif %}

      {{ render(path('meetup_photos')) }}

      <section id="communities">
        <h2>Communities</h2>

        <ul class="list list--inline list--images">
          {% for community in app.communities %}
            <li>
              <a href="{{ community.url }}" title="{{ community.name }}">
                <img src="/images/community/{{ community.logo }}.png" alt="{{ community.name }}" width="80" height="60">
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>

    <div class="col-sm-4">
      <div id="sponsors">
        <h2>Sponsors</h2>

        <h3>Meetup sponsors</h3>

        <div class="sponsors row">
          <div class="sponsor col-sm-6">
            <a href="http://www.ents24.com">
              <img src="/images/sponsors/ents24.png" alt="Ents24">
            </a>
          </div>

          <div class="sponsor col-sm-6">
            <a href="http://www.redrockconsulting.co.uk">
              <img src="/images/sponsors/redrock.png" alt="Redrock Consulting">
            </a>
          </div>
        </div>

        <h3>Event sponsors</h3>

        <div class="sponsors row">
          <div class="sponsor col-sm-6">
            <a href="http://www.basekit.com">
              <img src="/images/sponsors/basekit.png" alt="BaseKit">
            </a>
          </div>

          <div class="sponsor col-sm-6">
            <a href="https://www.brightpearl.com">
              <img src="/images/sponsors/brightpearl.png" alt="Brightpearl">
            </a>
          </div>
        </div>

        <br>

        <a href="{{ path('sponsors') }}" class="btn btn-primary">
          Find out more
        </a>
      </div>

      <section id="organisers">
        <h2>Organisers</h2>

        {% for organiser in app.organisers %}
          <div class="organiser organiser--{{ organiser.first_name | lower }}">
            <a href="{{ organiser.url }}">
              <div class="avatar avatar--medium">
                <img src="{{ organiser.photo }}" alt="{{ organiser.name }}">
              </div>
              <span class="fn organiser__name">{{ organiser.name }}</span>
            </a>

            <ul class="organiser__social list list--inline">
              <li>
                <a href="{{ organiser.url }}">
                  <i class="fa fa-globe"></i>
                </a>
              </li>
              <li>
                <a href="mailto:{{ organiser.email | replace({'@': ' at ', '.': ' dot '}) }}" class="email">
                  <i class="fa fa-paper-plane-o"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/{{ organiser.twitter }}">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/{{ organiser.github }}">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </section>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="x" class="lightbox-x"></div>
{% endblock %}
