{% extends 'base.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {{ render(path('meetup_events')) }}
      <!-- {{ render(path('meetup_posts')) }} -->
    </div>

    <div class="col-sm-4">

      <a href="{{ app.meetup.url }}" class="btn btn-primary navbar-btn" style="margin: 8px">
        Join group
      </a>

      {{ render(path('meetup_sponsors')) }}
      <!-- {{ render(path('tweets')) }} -->
      {{ render(path('meetup_photos')) }}
      <!-- {{ render(path('meetup_reviews')) }} -->
    </div>
  </div>

  <section class="contact">
    <header class="box__header">
      <h2>Get in touch</h2>
    </header>

    <ul class="list">
      {% for organiser in app.organisers %}
        <li>
          <img src="{{ organiser.photo }}" class="avatar" alt="{{ organiser.name }}">

          <a href="{{ organiser.url }}">
            {{ organiser.name }}
          </a>

          <a href="https://twitter.com/{{ organiser.twitter }}">
            @{{ organiser.twitter }}
          </a>

          {#
          <span>{{ organiser.email | replace({'@': ' at ', '.': ' dot '}) }}</span>
          #}
        </li>
      {% endfor %}
    </ul>
  </section>

  <div id="x" class="lightbox-x"></div>
{% endblock %}
