{% extends 'base.html.twig' %}

{% block hero %}
  {{ hero('http://photos3.meetupstatic.com/photos/event/6/8/d/a/highres_419066842.jpeg') }}
{% endblock %}

{% block page_header %}
  <h1>PHP meetups in the south west, UK</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {{ description | raw }}

      {% if events %}
        <section>
          {% for event in events %}
            {% if loop.first %}
              <h2>
                {%- if event.status == 'upcoming' -%}
                  Upcoming events
                {%- else -%}
                  Recent events
                {%- endif -%}
              </h2>
            {% endif %}

            {{ include('meetup/event-list-item.html.twig') }}
          {% endfor %}
        </section>
      {% endif %}

      {{ render(path('meetup_photos')) }}

      <section id="communities">
        <h2>Friends</h2>

        <ul class="list list--inline list--images">
          {% for community in app.communities %}
            <li>
              <a href="{{ community.url }}" title="{{ community.name }}">
                <img src="/images/community/{{ community.logo }}" alt="{{ community.name }}" width="80" height="60">
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>

    <div class="col-sm-4">
      {#
      <div id="tshirt">
        <h2>T-Shirt</h2>

        <a href="https://fabrily.com/phpsw-tshirts">
          <img src="/images/t-shirt.png" alt="PHPSW T-Shirt">
        </a>

        <p>Support your friendly local PHP user group with our new T-Shirt!</p>

        <a href="https://fabrily.com/phpsw-tshirts" class="btn btn-primary">
          Buy on Fabrily
        </a>
      </div>
      #}

      <div id="sponsors">
        <h2>Sponsors</h2>

        {% for type, sponsors in sponsors() %}
          <h3>{{ type | capitalize }} sponsors</h3>

          <div class="row">
            {% for sponsor in sponsors %}
              <div class="col-xs-{{ sponsors | length % 2 == 0 ? 6 : 4 }}">
                <a href="{{ sponsor.url }}" title="{{ sponsor.description }}">
                  <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        <br>

        <a href="{{ path('sponsors') }}" class="btn btn-primary">
          Find out more
        </a>
      </div>

      <section id="organisers">
        <h2>Organisers</h2>

        {% for organiser in app.organisers %}
          <div class="organiser organiser--{{ organiser.first_name | lower }} col-xs-6">
            <a href="{{ organiser.url }}">
              <div class="avatar avatar--medium">
                <img src="{{ avatar('http://avatars.phpsw.uk/twitter/' ~ organiser.twitter ~ '?size=400x400', 'medium') }}" alt="{{ organiser.name }}">
              </div>
              <span class="fn organiser__name">{{ organiser.name }}</span>
            </a>

            <ul class="organiser__social list list--inline">
              {% if organiser.url | default %}
                <li>
                  <a href="{{ organiser.url }}">
                    <i class="fa fa-globe"></i>
                  </a>
                </li>
              {% endif %}
              {% if organiser.twitter | default %}
                <li>
                  <a href="https://twitter.com/{{ organiser.twitter }}">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
              {% endif %}
              {% if organiser.github | default %}
                <li>
                  <a href="https://github.com/{{ organiser.github }}">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endfor %}
      </section>
    </div>
  </div>
{% endblock %}
