<!DOCTYPE html>
<html>
    <head>
        <title>{{ app.title }}</title>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="group">
            <div>
                <header class="box">
                    <h1>{{ app.name }}</h1>

                    <img src="/images/php-elephant.jpg" alt="{{ app.name }}">

                    {{ meetup.group.description | raw }}

                    <ul class="list list--icons">
                        <li>
                            <a href="{{ app.meetup.url }}">
                                <span class="genericon genericon-month"></span>
                                <span>Find us on Meetup</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ app.twitter.url }}">
                                <span class="genericon genericon-twitter"></span>
                                <span>Tweet us at @{{ app.twitter.user }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ app.github.url }}">
                                <span class="genericon genericon-github"></span>
                                <span>Fork this on GitHub</span>
                            </a>
                        </li>
                    </ul>

                    <footer>
                        <a href="{{ app.meetup.url }}/members">
                            <span class="genericon genericon-user"></span>
                            <span>{{ meetup.group.members }} {{ meetup.group.who | lower }}</span>
                        </a>

                        {% if meetup.group.rating is defined and meetup.group.rating.average > 3 %}
                            <span class="genericon genericon-digg"></span>
                            {{ meetup.group.rating.average | round(1) }}/5 from {{ meetup.group.rating.count }} ratings
                        {% endif %}
                    </footer>
                </header>

                <section class="contact box">
                    <h2>Get in touch</h2>

                    <ul class="list">
                        {% for organiser in app.organisers %}
                            <li>
                                <img src="{{ organiser.photo }}" class="avatar" alt="{{ organiser.name }}">

                                <a href="{{ organiser.url }}">
                                    {{ organiser.name }}
                                </a>

                                <a href="https://twitter.com/{{ organiser.twitter }}">
                                    @{{ organiser.twitter }}
                                </a>

                                {#
                                <span>{{ organiser.email | replace({'@': ' at ', '.': ' dot '}) }}</span>
                                #}
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                {{ render('/meetup/photos') }}

                {{ render('/meetup/reviews') }}

                {{ render('/meetup/sponsors') }}
            </div>

            {{ render('/meetup/events') }}

            {{ render('/twitter/tweets') }}

            {{ render('/meetup/posts') }}
        </div>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="/js/jquery.expander.min.js"></script>
        <script src="/js/jquery.timeago.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/js/gmaps.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/analytics.js"></script>
    </body>
</html>
