{% extends 'base.html.twig' %}

{% block hero %}
  {{ path('meetup_photo', {id: 366334962, size: 'highres'}) }}
{% endblock %}

{% block page_header %}
  <h1>PHP meetups in the south west, UK</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {{ meetup.group.description | raw }}

      {% if events %}
        <section>
          <h2>Upcoming events</h2>

          {% for event in events %}
            {{ include('meetup/event-list-item.html.twig') }}
          {% endfor %}
        </section>
      {% endif %}

      {{ render(path('meetup_photos')) }}

      <section id="communities">
        <h2>Friends</h2>

        <ul class="list list--inline list--images">
          {% for community in app.communities %}
            <li>
              <a href="{{ community.url }}" title="{{ community.name }}">
                <img src="/images/community/{{ community.logo }}.png" alt="{{ community.name }}" width="80" height="60">
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>

    <div class="col-sm-4">
      <div id="sponsors">
        <h2>Sponsors</h2>

        {% for type, sponsors in app.sponsors %}
          <h3>{{ type | capitalize }} sponsors</h3>

          <div class="row">
            {% for sponsor in sponsors %}
              <div class="col-xs-6">
                <a href="{{ sponsor.url }}">
                  <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        <br>

        <a href="{{ path('sponsors') }}" class="btn btn-primary">
          Find out more
        </a>
      </div>

      <section id="organisers">
        <h2>Organisers</h2>

        {% for organiser in app.organisers %}
          <div class="organiser organiser--{{ organiser.first_name | lower }}">
            <a href="{{ organiser.url }}">
              <div class="avatar avatar--medium">
                <img src="{{ organiser.photo }}" alt="{{ organiser.name }}">
              </div>
              <span class="fn organiser__name">{{ organiser.name }}</span>
            </a>

            <ul class="organiser__social list list--inline">
              <li>
                <a href="{{ organiser.url }}">
                  <i class="fa fa-globe"></i>
                </a>
              </li>
              <li>
                <a href="mailto:{{ organiser.email | replace({'@': ' at ', '.': ' dot '}) }}" class="email">
                  <i class="fa fa-paper-plane-o"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/{{ organiser.twitter }}">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/{{ organiser.github }}">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </section>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="x" class="lightbox-x"></div>
{% endblock %}
