{% extends 'base.html.twig' %}

{% block title %}
  Invoice · {{ app.title }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}
  <div id="wrapper" class="container">
    <div id="header">
      <div id="envelope" style="padding:60px 0 0 0">
        <table cellspacing="0" cellpadding="0" style="padding: 0 0px;width: 100%;">
          <tbody>
            <tr>
              <td style="text-align:left;vertical-align:bottom;" id="company-info-holder">
                <h2>PHPSW</h2>
                <h3>Payable to:</h3>
                <p>{{ app.invoice.payable_to | nl2br }}</p>
                <p>
                  <strong>Account name:</strong>
                  {{ app.invoice.account_name }}
                </p>
                <p>
                  <strong>Account number:</strong>
                  {{ app.invoice.account_number }}
                </p>
                <p>
                  <strong>Sort code:</strong>
                  {{ app.invoice.sort_code }}
                </p>
                {% if currency != '£' %}
                  <p>
                    <strong>IBAN:</strong>
                    {{ app.invoice.iban }}
                  </p>
                  <p>
                    <strong>BIC:</strong>
                    {{ app.invoice.bic }}
                  </p>
                {% endif %}
                <p>
                  Please include the invoice reference of
                  #{{ ref }}
                </p>
              </td>

              <td style="text-align:right; vertical-align:top;" class="tight" id="invoice-details-holder">
                <div id="details-wrap">
                  <h1>Invoice<br><small>#{{ ref }}</small></h1>

                  <br>

                  <p>Invoice date: {{ invoiced | date('d/m/Y') }}</p>
                  <p>Due date: {{ due | date('d/m/Y') }}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="clientInfo">
        <div id="billing-info">
          <table cellspacing="0" cellpadding="0" id="billing-table">
            <tbody>
              <tr>
                <td>
                  <h2>{{ sponsor }}</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="content">
      <table style="width: 100%" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Description</th>
            <th>Time/Quantity</th>
            <th></th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>PHPSW Sponsorship</td>
            <td>1 month</td>
            <td></td>
            <td>{{ currency }}{{ amount | number_format(2) }}</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="2" rowspan="8" class="invoice-notes" style=" vertical-align:top;">
            </td>
            <th>Subtotal:</th>
            <td colspan="2">{{ currency }}{{ amount | number_format(2) }}</td>
          </tr>

          <tr dontbreak="true">
            <th>Total:</th>
            <td colspan="2">{{ currency }}{{ amount | number_format(2) }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
