<div id="{{ subject }}" class="message">
  {% if app.request.get('success') %}
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check" aria-hidden="true"></i>
      <span class="sr-only">Success:</span>
      {{ app.request.get('success') }}
    </div>
  {% endif %}

  {% if app.request.get('fail') %}
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <span class="sr-only">Error:</span>
      {{ app.request.get('fail') }}
    </div>
  {% endif %}

  <form action="{{ url('message') }}" method="post">
    <input name="url" type="text">
    <input name="subject" type="hidden" value="{{ subject|default('message') }}">
    <textarea name="message" required>{{ app.request.get('message') }}</textarea>
    <input class="btn btn-primary" type="submit" value="{{ button | default('Submit a ' ~ subject | default('message')) }}">
  </form>
</div>
