{% set iframe = 'google.com/presentation' in talk.slides or 'slides.com' in talk.slides or 'slid.es' in talk.slides %}
{% set embedly = 'slideshare' in talk.slides or 'speakerdeck' in talk.slides %}
{% set youtube = 'youtube.com' in talk.video %}

{% if youtube %}
  <iframe
    src="{{ talk.video }}"
    frameborder="0" scrolling="no"
    allowfullscreen mozallowfullscreen webkitallowfullscreen
  >
  </iframe>
{% endif %}

{% if iframe %}
  <iframe
    src="{{ talk.slides | replace({'/pub': ''}) }}/embed"
    frameborder="0" scrolling="no"
    allowfullscreen mozallowfullscreen webkitallowfullscreen
  >
  </iframe>
{% elseif embedly %}
  <a href="{{ talk.slides }}" class="embedly-card" data-card-chrome="0">
    {{ talk.title }}
  </a>
{% endif %}

<div class="talk__slides__link">
  {% if talk.slides %}
    <a href="{{ talk.slides }}">
      View on
      {{ 'google.com/presentation' in talk.slides ? 'Google Docs' }}
      {{ 'slides.com' in talk.slides ? 'slides.com' }}
      {{ 'slid.es' in talk.slides ? 'slid.es' }}
      {{ 'slideshare' in talk.slides ? 'SlideShare' }}
      {{ 'speakerdeck' in talk.slides ? 'Speaker Deck' }}
      <i class="fa fa-external-link"></i>
    </a>
  {% endif %}

  {% if talk.video %}
    <a href="{{ talk.video }}">
      View on
      {{ 'youtube.com' in talk.video ? 'YouTube' }}
      <i class="fa fa-external-link"></i>
    </a>
  {% endif %}
</div>
