{% extends 'base.html.twig' %}

{% block title %}
  {{ speaker.name }}
{% endblock %}

{% block hero %}
  {% if speaker.photo is defined %}
    {{ avatar(speaker.photo.url, 'large') }}
  {% endif %}
{% endblock %}

{% block hero_modifier %}
  speaker
{% endblock %}

{% block page_header %}
  <h1>
    {{ speaker.name }}

    {% if speaker.bio | default %}
      <br><small>{{ speaker.bio | default | raw }}</small>
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <ul class="list">
        {% if speaker.twitter | default %}
          <li>
            <a href="https://twitter.com/{{ speaker.twitter }}">
              <i class="fa fa-twitter"></i> Twitter: @{{ speaker.twitter }}
            </a>
          </li>
        {% endif %}
        {% if speaker.facebook | default %}
          <li>
            <a href="https://www.facebook.com/{{ speaker.facebook }}">
              <i class="fa fa-facebook"></i> Facebook: {{ speaker.facebook }}
            </a>
          </li>
        {% endif %}
        {% if speaker.flickr | default %}
          <li>
            <a href="https://www.flickr.com/photos/{{ speaker.flickr }}">
              <i class="fa fa-flickr"></i> Flickr: {{ speaker.flickr }}
            </a>
          </li>
        {% endif %}
        {% if speaker.member.id | default %}
          <li>
            <a href="{{ app.meetup.url }}/members/{{ speaker.member.id }}">
              <i class="fa fa-calendar"></i> Meetup profile
            </a>
          </li>
        {% endif %}
      </ul>

      {% if speaker.talks %}
        {{ include('talks.html.twig', {talks: speaker.talks}) }}
      {% endif %}
    </div>

    <div class="col-sm-4">
      {{ include('speaking.html.twig') }}
    </div>
  </div>
{% endblock %}
