{% extends 'base.html.twig' %}

{% block title %}
  Speakers · {{ app.title }}
{% endblock %}

{% block hero %}
  {{ hero('http://photos1.meetupstatic.com/photos/event/6/a/f/0/highres_434247376.jpeg') }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {% if speakers %}
        <h2>Alumni</h2>

        <ul class="speakers list list--inline">
          {% for speaker in speakers %}
            <li>
              <a
                href="{{ path('speaker', {slug: speaker.slug}) }}"
                title="
                  {{- speaker.name -}}
                  {%- if speaker.bio | default -%}
                    , {{ speaker.bio | striptags | raw }}
                  {%- endif -%}
                "
              >
                {% if speaker.photo | default %}
                  <div class="avatar avatar--large">
                    <img src="{{ avatar(speaker.photo.url, 'medium') }}" alt="{{ speaker.name }}">
                  </div>
                {% endif %}

                {% spaceless %}
                  <span class="fn" style="display: block; margin: 10px">
                    {{ speaker.name }}
                  </span>
                {% endspaceless %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col-sm-4">
      {{ include('partials/speaking.html.twig') }}
    </div>
  </div>
{% endblock %}
