{% extends 'base.html.twig' %}

{% block title %}
  Sponsors
{% endblock %}

{% block hero %}
  http://photos1.meetupstatic.com/photos/event/1/9/3/e/highres_333006462.jpeg
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {% for type, sponsors in app.sponsors %}
        <h2>{{ type | capitalize }} sponsors</h2>

        <div class="row">
          {% for sponsor in sponsors %}
            <div class="col-xs-6">
              <a href="{{ sponsor.url }}">
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
              </a>
              <br><br>
              <p>{{ sponsor.description }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <h2>Interested in sponsoring?</h2>

      <p>We're always on the look out for new sponsors, be that for individual events or as a meetup sponsor.</p>

      <p>The benefits we offer include:</p>

      <ul>
        <li>Exposure to skilled developers, who are actively engaging with the local tech community</li>
        <li>Logo on-screen at our events, on the website and on meetup.com</li>
        <li>Promotion as an employer</li>
        <li>Promotion of your events</li>
        <li>Attribution of snacks/bar/fees</li>
        <li>Speaking and/or hosting opportunities</li>
      </ul>

      <a
        href="mailto:{{ app.organisers.steve.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=PHPSW sponsorship"
        class="btn btn-primary email"
      >
        Get in touch
      </a>
    </div>
  </div>
{% endblock %}
