{% extends 'base.html.twig' %}

{% block title %}
  Sponsors
{% endblock %}

{% block hero %}
  {{ hero('http://photos1.meetupstatic.com/photos/event/1/9/3/e/highres_333006462.jpeg') }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {% for type, sponsors in sponsors() %}
        <h2>{{ type | capitalize }} sponsors</h2>

        <div class="row">
          {% for sponsor in sponsors %}
            <div class="col-xs-{{ sponsors | length % 2 == 0 ? 6 : 4 }}">
              <a href="{{ sponsor.url }}">
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" width="400">
              </a>
              <p>{{ sponsor.description }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      {{ include('sponsoring.html.twig') }}
    </div>
  </div>
{% endblock %}
