{% extends 'base.html.twig' %}

{% block title %}
  Sponsors
{% endblock %}

{% block hero %}
  {{ path('meetup_photo', {id: 333006462, size: 'highres'}) }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      {% for type, sponsors in app.sponsors %}
        <h2>{{ type | capitalize }} sponsors</h2>

        <div class="row">
          {% for sponsor in sponsors %}
            <div class="col-xs-6">
              <a href="{{ sponsor.url }}">
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
              </a>
              <br><br>
              <p>{{ sponsor.description }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      {{ include('sponsoring.html.twig') }}
    </div>
  </div>
{% endblock %}
