{% extends 'base.html.twig' %}

{% set iframe = 'google.com/presentation' in talk.slides or 'slides.com' in talk.slides or 'slid.es' in talk.slides %}
{% set embedly = 'slideshare' in talk.slides or 'speakerdeck' in talk.slides %}
{% set youtube = 'youtube.com' in talk.video %}
{% set embeddable = iframe or embedly or youtube %}

{% block title %}
  {{ talk.title | striptags | raw }}
{% endblock %}

{% block main %}
  <div class="talk container">
    <h1>
      {{ block('title') }}

      <small>
        {{ event.date.format('F Y') }}
      </small>
    </h1>

    <div class="row">
      <div class="col-sm-12">
        {% if talk.description %}
          <div class="talk__description talk__section">
            {{ talk.description | raw }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if embeddable %}
      <div id="slides-{{ talk.id }}" class="row">
        {% if talk.video %}
          <div class="col-sm-8">
            {{ include('video.html.twig') }}
          </div>
        {% endif %}

        {% if iframe or embedly %}
          <div class="col-sm-4">
            {% if iframe %}
              <iframe
                src="{{ talk.slides | replace({'/pub': ''}) }}/embed"
                frameborder="0" scrolling="no"
                allowfullscreen mozallowfullscreen webkitallowfullscreen
              >
              </iframe>
            {% elseif embedly %}
              <a href="{{ talk.slides }}" class="embedly-card" data-card-chrome="0">
                {{ talk.title }}
              </a>
            {% endif %}

            <a href="{{ talk.slides }}">
              View on
              {{ 'google.com/presentation' in talk.slides ? 'Google Docs' }}
              {{ 'slides.com' in talk.slides ? 'slides.com' }}
              {{ 'slid.es' in talk.slides ? 'slid.es' }}
              {{ 'slideshare' in talk.slides ? 'SlideShare' }}
              {{ 'speakerdeck' in talk.slides ? 'Speaker Deck' }}
              <i class="fa fa-external-link"></i>
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-8">
        {% for speaker in talk.speakers %}
          <h2>
            <a href="{{ path('speaker', {slug: speaker.slug}) }}">
              {%- spaceless -%}
                <span class="fn">{{ speaker.name }}</span>
              {%- endspaceless -%}
            </a>

            {% if speaker.bio is defined %}
              <br>
              <small>{{ speaker.bio | raw }}</small>
            {% endif %}
          </h2>
        {% endfor %}

        {% for speaker in talk.speakers %}
          {% if speaker.talks %}
            <h2>More from {{ speaker.name }}</h2>

            {{ include('talks.html.twig', {talks: speaker.talks}) }}
          {% endif %}
        {% endfor %}

        {% if event.talks %}
          <h2>More from {{ event.name }}, {{ event.date.format('F Y') }}</h2>

          {{ include('talks.html.twig', {talks: event.talks}) }}
        {% endif %}
      </div>

      <div class="col-sm-4">
        {{ include('speaking.html.twig') }}
      </div>
    </div>

    {% if talk.prev %}
      <a
        href="{{ path('talk', {slug: talk.prev.slug}) }}"
        class="prev"
        title="{{ talk.prev.title }} &middot; {{ talk.prev.event.date.format('F Y') }}"
      >
        <i class="fa fa-chevron-left"></i>
        <span class="sr-only">Prev</span>
      </a>
    {% endif %}

    {% if talk.next %}
      <a
        href="{{ path('talk', {slug: talk.next.slug}) }}"
        class="next"
        title="{{ talk.next.title }} &middot; {{ talk.next.event.date.format('F Y') }}"
      >
        <i class="fa fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
    {% endif %}
  </div>
{% endblock %}
