{% extends 'base.html.twig' %}

{% block title %}
  {{ talk.title | striptags | raw }}
{% endblock %}

{% block main %}
  <div class="container">
    <h1>
      {{ block('title') }}

      <small>
        {{ talk.event.date.format('F Y') }}
      </small>
    </h1>

    {% if talk.slides and talk.video %}
      <div class="row">
        <div class="col-sm-8">
          {{ include('partials/video.html.twig', {'size': 'large'}) }}
        </div>

        <div class="col-sm-4">
          {{ include('partials/slides.html.twig', {'size': 'small'}) }}
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-8">
        {% if talk.slides and not talk.video %}
          {{ include('partials/slides.html.twig', {'size': 'large'}) }}
        {% elseif talk.video and not talk.slides %}
          {{ include('partials/video.html.twig', {'size': 'large'}) }}
        {% endif %}

        {% if talk.description %}
          {{ talk.description | raw }}
        {% endif %}

        {% for speaker in talk.speakers %}
          <h2>
            <a href="{{ path('speaker', {slug: speaker.slug}) }}">
              {%- spaceless -%}
                <span class="fn">{{ speaker.name }}</span>
              {%- endspaceless -%}
            </a>

            {% if speaker.bio is defined %}
              <br>
              <small>{{ speaker.bio | raw }}</small>
            {% endif %}
          </h2>
        {% endfor %}

        {% if talk.event.date < date() and talk.feedback %}
          <a href="{{ talk.feedback.uri }}" class="alert alert-info text-center" style="display: block">
            Leave
            {% for speaker in talk.speakers %}
              {{- speaker.name | split(' ') | first -}}
              {{- not loop.last ? ' &amp; ' -}}
            {% endfor %}
            feedback on Joind.in
          </a>
        {% endif %}

        {% for speaker in talk.speakers %}
          {% if speaker.talks %}
            <hr>
            <div id="talks" class="talks">
              <h3>More from {{ speaker.name | split(' ') | first }}</h3>

              <ul class="list">
                {% for talk in speaker.talks %}
                  <li>{{ include('partials/talk--with-event.html.twig') }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-sm-4">
        {{ include('partials/speaking.html.twig') }}
      </div>
    </div>

    {% if talk.prev %}
      <a
        href="{{ path('talk', {slug: talk.prev.slug}) }}"
        class="prev"
        title="{{ talk.prev.title }} - {{ talk.prev.event.name }}: {{ talk.prev.event.date.format('F Y') }}"
      >
        <i class="fa fa-chevron-left"></i>
        <span class="sr-only">Prev</span>
      </a>
    {% endif %}

    {% if talk.next %}
      <a
        href="{{ path('talk', {slug: talk.next.slug}) }}"
        class="next"
        title="{{ talk.next.title }} - {{ talk.next.event.name }}: {{ talk.next.event.date.format('F Y') }}"
      >
        <i class="fa fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
    {% endif %}
  </div>
{% endblock %}
