{% extends 'base.html.twig' %}

{% block title %}
  {{ talk.title | striptags | raw }}{% for speaker in talk.speakers %}, {{ speaker.name }}{% endfor %} - {{ talk.event.name }}, {{ talk.event.date | date('F Y') }}
{% endblock %}

{% block description %}
  {{ talk.description | striptags | raw }}
{% endblock %}

{% block main %}
  <div class="container">
    <h1>
      <div class="row">
        <div class="col-xs-{{ talk.event.date < date() and talk.feedback ? '8' : '12' }}">
          {{ talk.title | striptags | raw }}

          <small>
            <a href="{{ path('event', {'id': talk.event.id, 'slug': talk.event.slug}) }}">
              {{- talk.event.name -}}
            </a>,
            {{ talk.event.date.format('F Y') }}
          </small>
        </div>

        {% if talk.event.date < date() and talk.feedback %}
          <div class="col-xs-4 text-right">
            <a href="{{ talk.feedback.uri }}" class="btn btn-warning">
              Leave
              {% for speaker in talk.speakers %}
                {{- speaker.name | split(' ') | first -}}
                {{- not loop.last ? ' &amp; ' -}}
              {% endfor %}
              feedback on Joind.in
            </a>
          </div>
        {% endif %}
      </div>
    </h1>

    {% if talk.slides and talk.video %}
      <div class="row">
        <div class="col-sm-8">
          {{ include('partials/video.html.twig', {'size': 'large'}) }}
        </div>

        <div class="col-sm-4">
          {{ include('partials/slides.html.twig', {'size': 'small'}) }}
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-8">
        {% if talk.slides and not talk.video %}
          {{ include('partials/slides.html.twig', {'size': 'large'}) }}
        {% elseif talk.video and not talk.slides %}
          {{ include('partials/video.html.twig', {'size': 'large'}) }}
        {% endif %}

        {% if talk.description %}
          {{ talk.description | raw }}
        {% endif %}

        {% for speaker in talk.speakers %}
          <h2>
            <a href="{{ path('speaker', {slug: speaker.slug}) }}">
              {%- spaceless -%}
                <span class="fn">{{ speaker.name }}</span>
              {%- endspaceless -%}
            </a>

            {% if speaker.bio is defined %}
              <br>
              <small>{{ speaker.bio | raw }}</small>
            {% endif %}
          </h2>
        {% endfor %}

        {% for speaker in talk.speakers %}
          {% if speaker.talks %}
            <hr>
            <div id="talks" class="talks">
              <h3>More from {{ speaker.name | split(' ') | first }}</h3>

              <ul class="list">
                {% for talk in speaker.talks %}
                  <li>{{ include('partials/talk--with-event.html.twig') }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-sm-4">
        {{ include('partials/speaking.html.twig') }}
      </div>
    </div>

    {% if talk.prev %}
      <a
        href="{{ path('talk', {slug: talk.prev.slug}) }}"
        class="prev"
        title="{{ talk.prev.title }} - {{ talk.prev.event.name }}: {{ talk.prev.event.date.format('F Y') }}"
      >
        <i class="fa fa-chevron-left"></i>
        <span class="sr-only">Prev</span>
      </a>
    {% endif %}

    {% if talk.next %}
      <a
        href="{{ path('talk', {slug: talk.next.slug}) }}"
        class="next"
        title="{{ talk.next.title }} - {{ talk.next.event.name }}: {{ talk.next.event.date.format('F Y') }}"
      >
        <i class="fa fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
    {% endif %}
  </div>
{% endblock %}

{% block og %}
  {{ parent() }}
  {% if talk.video %}
    <meta property="og:video:url" content="{{ talk.video.embed }}">
    <meta property="og:video:secure_url" content="{{ talk.video.embed }}">
    <meta property="og:video:type" content="text/html">
    <meta property="og:video:width" content="1280">
    <meta property="og:video:height" content="720">
    <meta property="og:video:url" content="{{ talk.video.url }}">
    <meta property="og:video:secure_url" content="{{ talk.video.url }}">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="1280">
    <meta property="og:video:height" content="720">
  {% endif %}
{% endblock %}

{% block og_type %}
  {{ talk.video ? 'video' }}
{% endblock %}

{% block og_image %}
  {{ talk.image }}
{% endblock %}

{% block twitter %}
  {{ parent() }}
  {%- if talk.video -%}
    <meta name="twitter:player" content="{{ talk.video.embed }}">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
  {%- endif -%}
{% endblock %}

{% block twitter_card %}
  {{ talk.video ? 'player' }}
{% endblock %}

{% block twitter_creator %}
  {{ talk.speakers[0].twitter | default ? '@' ~ talk.speakers[0].twitter }}
{% endblock %}

{% block twitter_image %}
  {{ talk.image }}
{% endblock %}
