{% set iframe = 'google.com/presentation' in talk.slides or 'slides.com' in talk.slides or 'slid.es' in talk.slides %}
{% set embedly = 'slideshare' in talk.slides or 'speakerdeck' in talk.slides %}
{% set youtube = 'youtube.com' in talk.video %}
{% set embeddable = (iframe or embedly or youtube) and not talks is defined %}

<div id="talk-{{ talk.id }}" class="talk">
  <div class="talk__details talk__section">
    <h3>
      {% if talk.slides or talk.video %}
        <a href="{{ path('talk', {slug: talk.slug}) }}"
          {% if embeddable %}
            data-target="#slides-{{ talk.id }}"
            data-toggle="collapse"
          {% endif %}
        >
          {{ talk.title | striptags | raw }}

          {%- if embeddable -%}
            {% spaceless %}
              <i class="fa fa-youtube-play" style="padding: 0 .25em"></i>
              <i class="js-shown" style="position: relative; top: .025em;">{{ include('slides.svg.twig') }}</i>
              <i class="fa fa-external-link js-hidden"></i>
            {% endspaceless %}
          {%- else -%}
            <i class="fa fa-external-link"></i>
          {%- endif -%}
        </a>
      {% else %}
        {{ talk.title | raw }}
      {% endif %}
    </h3>

    {% if event is defined %}
      <div class="
        talk__details__speakers
        {% if talk.speakers|length > 1 %}talk__details__speakers--multiple{% endif %}
      ">
        {% for speaker in talk.speakers %}
          <div class="talk__details__speakers__speaker">
            <a href="{{ path('speaker', {slug: speaker.slug}) }}">
              {%- if speaker.photo is defined -%}
                <div class="avatar avatar--small">
                  <img src="{{ avatar(speaker.photo.url) }}" alt="{{ speaker.name }}">
                </div>
              {%- endif -%}

              <span class="fn">{{ speaker.name }}</span> {#--#}
            </a>

            {%- if speaker.bio is defined -%}
              , {{ speaker.bio | raw }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% elseif speaker is defined %}
      <a href="{{ path('event', {'id': talk.event.id, 'slug': talk.event.slug}) }}">
        {{- talk.event.name -}}
      </a>

      <small>
        {{ talk.event.date.format('F Y') }}
      </small>
    {% elseif talks is defined %}
      <div class="
        talk__details__speakers
        {% if talk.speakers|length > 1 %}talk__details__speakers--multiple{% endif %}
      ">
        {% for speaker in talk.speakers %}
          <div class="talk__details__speakers__speaker">
            <a href="{{ path('speaker', {slug: speaker.slug}) }}">
              {%- if speaker.photo is defined -%}
                <div class="avatar avatar--small">
                  <img src="{{ avatar(speaker.photo.url) }}" alt="{{ speaker.name }}">
                </div>
              {%- endif -%}

              <span class="fn">{{ speaker.name }}</span> {#--#}
            </a>

            {%- if speaker.bio is defined -%}
              , {{ speaker.bio | raw }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if embeddable %}
    <div id="slides-{{ talk.id }}" class="talk__slides talk__section collapse">
      {% if youtube %}
        <iframe
          src="{{ talk.video }}"
          frameborder="0" scrolling="no"
          allowfullscreen mozallowfullscreen webkitallowfullscreen
        >
        </iframe>
      {% endif %}

      {% if iframe %}
        <iframe
          src="{{ talk.slides | replace({'/pub': ''}) }}/embed"
          frameborder="0" scrolling="no"
          allowfullscreen mozallowfullscreen webkitallowfullscreen
        >
        </iframe>
      {% elseif embedly %}
        <a href="{{ talk.slides }}" class="embedly-card" data-card-chrome="0">
          {{ talk.title }}
        </a>
      {% endif %}

      <div class="talk__slides__link">
        {% if talk.slides %}
          <a href="{{ talk.slides }}">
            View on
            {{ 'google.com/presentation' in talk.slides ? 'Google Docs' }}
            {{ 'slides.com' in talk.slides ? 'slides.com' }}
            {{ 'slid.es' in talk.slides ? 'slid.es' }}
            {{ 'slideshare' in talk.slides ? 'SlideShare' }}
            {{ 'speakerdeck' in talk.slides ? 'Speaker Deck' }}
            <i class="fa fa-external-link"></i>
          </a>
        {% endif %}

        {% if talk.video %}
          <a href="{{ talk.video }}">
            View on
            {{ 'youtube.com' in talk.video ? 'YouTube' }}
            <i class="fa fa-external-link"></i>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if talk.description %}
    <div class="talk__description talk__section">
      {{ talk.description | raw }}
    </div>
  {% endif %}
</div>
