{% extends 'base.html.twig' %}

{% block title %}
  Talks · {{ app.title }}
{% endblock %}

{% block hero %}
  {{ hero('http://photos3.meetupstatic.com/photos/event/c/9/c/a/highres_436131658.jpeg') }}
{% endblock %}

{% block content %}
  <h2 class="sr-only">Featured</h2>

  <div class="talks row">
    {% for talk in featured %}
      {{ include('partials/talk--featured.html.twig') }}

      {% if loop.index % 2 == 0 %}
        <div class="clearfix visible-xs visible-sm"></div>
      {% endif %}

      {% if loop.index % 3 == 0 %}
        <div class="clearfix hidden-xs hidden-sm"></div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-8">
      {{ include('partials/talks.html.twig', {'heading': 'Further viewing', 'template': 'talk--with-speaker'}) }}
    </div>

    <div class="col-sm-4">
      {{ include('partials/speaking.html.twig') }}
    </div>
  </div>
{% endblock %}
