<article id="event-{{ event.id }}" class="event event--{{ event.status }}">
    <header class="event__header">
        <h3>
            <a href="{{ path('event', {id: event.id}) }}">
                {{- event.name -}}
            </a>

            <small>
                {{ event.date.format('F Y') }}
            </small>
        </h3>
    </header>
</article>
