<article id="event-{{ event.id }}" class="event event--{{ event.status }}">
  <header class="event__header">
    <h3>
      <a href="{{ path('event', {id: event.id, slug: event.slug}) }}">
        {{- event.name -}}
      </a>

      <small>
        <time datetime="{{ event.date.format(constant('DATE_W3C')) }}">
          {{ event.date.format('F Y') }}
        </time>
      </small>
    </h3>

    {{ event.description | striptags | truncate(200) | raw }}
  </header>
</article>
