<article id="event-{{ event.id }}" class="event event--{{ event.status }} box">
    <h3>
        <a href="{{ event.url }}">
            {{ event.name }}
        </a>
    </h3>

    <time datetime="{{ event.date.format(constant('DATE_W3C')) }}">
        {{ event.date.format('j') }}
        <span>{{ event.date.format('M') }}</span>
    </time>

    <div class="event__description">
        {{ event.description | raw }}
    </div>

    {% if event.talks %}
        <div class="event__talks">
            <h4 class="sr-only">Talks</h4>

            <ul class="list">
                {% for talk in event.talks %}
                    <li id="talk-{{ talk.id }}">
                        <p>
                            <strong>
                                {% if talk.slides %}
                                    <a href="{{ talk.slides }}">
                                        {{ talk.title }}
                                    </a>
                                {% else %}
                                    {{ talk.title }}
                                {% endif %}
                            </strong>

                            <br>

                            {% if talk.speaker.url is defined %}
                                <a
                                    href="{{ talk.speaker.url }}"
                                    {% if talk.speaker.member.bio is defined %}
                                        title="{{ talk.speaker.member.bio }}"
                                    {% endif %}
                                >
                                    {% if talk.speaker.photo is defined %}
                                        <img src="{{ talk.speaker.photo.thumb_link }}" class="avatar-mini" alt="{{ talk.speaker.name }}">
                                    {% endif %}

                                    {{- talk.speaker.name -}}
                                </a>
                            {%- else -%}
                                {{ talk.speaker.name }}
                            {%- endif -%}

                            {%- if talk.speaker.organisation.name is defined -%}
                                ,
                                {% if talk.speaker.organisation.url is defined %}
                                    <a href="{{ talk.speaker.organisation.url }}">
                                        {{ talk.speaker.organisation.name }}
                                    </a>
                                {% else %}
                                    {{ talk.speaker.organisation.name }}
                                {% endif %}
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if event.status == 'upcoming' %}
        {% if event.venue %}
            <p
                class="event__venue"
                {% if (event.venue.lat) %}data-latitude="{{ event.venue.lat }}"{% endif %}
                {% if (event.venue.lon) %}data-longitude="{{ event.venue.lon }}"{% endif %}
            >
                <span class="event__venue__name">{{ event.venue.name }}</span>,
                {{ event.venue.address_1 }},
                {{ event.venue.city }}
            </p>
        {% endif %}

        {% if event.rsvps is defined %}
            <ul class="event__attendees list list--inline">
                {% for rsvp in event.rsvps if rsvp.response == 'yes' %}
                    <li>
                        <a href="{{ app.meetup.url }}/members/{{ rsvp.member.member_id }}" class="event__attendee" title="{{ rsvp.member.name }}">
                            <img src="{{ rsvp.member_photo.thumb_link }}" class="avatar-mini" alt="{{ rsvp.member.name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{{ event.url }}" class="btn">
            RSVP
        </a>
    {% endif %}

    <footer>
        <span class="genericon genericon-user"></span>

        {% if event.yes_rsvp_count > 0 %}
            {{ event.yes_rsvp_count }}

            {% if event.status == 'upcoming' %}
                attending
            {% else %}
                attended
            {% endif %}
        {% endif %}

        {% if event.rating is defined and event.rating.average > 3 %}
            <span class="genericon genericon-digg"></span>
            {{ event.rating.average | round(1) }}/5 by {{ event.rating.count }} {{ event.group.who | lower }}
        {% endif %}
    </footer>
</article>
