<article class="event event--{{ event.status }} box">
    <h3>
        <a href="{{ event.url }}">
            {{ event.name }}
        </a>
    </h3>

    <time datetime="{{ event.date.format(constant('DATE_W3C')) }}">
        {{ event.date.format('j') }}
        <span>{{ event.date.format('M') }}</span>
    </time>

    {% if event.status == 'upcoming' %}
        <div class="event__description">
            {{ event.description | raw }}
        </div>

        {% if event.venue %}
            <p
                class="event__venue"
                {% if (event.venue.lat) %}data-latitude="{{ event.venue.lat }}"{% endif %}
                {% if (event.venue.lon) %}data-longitude="{{ event.venue.lon }}"{% endif %}
            >
                <span class="event__venue__name">{{ event.venue.name }}</span>,
                {{ event.venue.address_1 }},
                {{ event.venue.city }}
            </p>
        {% endif %}

        {% if event.rsvps is defined %}
            <ul class="list list--inline">
                {% for rsvp in event.rsvps if rsvp.response == 'yes' %}
                    <li>
                        <a href="{{ app.meetup.url }}/members/{{ rsvp.member.member_id }}" class="event__attendee" title="{{ rsvp.member.name }}">
                            <img src="{{ rsvp.member_photo.thumb_link }}" class="avatar-mini" alt="{{ rsvp.member.name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{{ event.url }}" class="btn">
            RSVP
        </a>
    {% endif %}

    <footer>
        <span class="genericon genericon-user"></span>

        {% if event.yes_rsvp_count > 0 %}
            {{ event.yes_rsvp_count }}

            {% if event.status == 'upcoming' %}
                attending
            {% else %}
                attended
            {% endif %}
        {% endif %}

        {% if event.rating is defined and event.rating.average > 3 %}
            <span class="genericon genericon-digg"></span>
            {{ event.rating.average | round(1) }}/5 by {{ event.rating.count }} {{ event.group.who | lower }}
        {% endif %}
    </footer>
</article>
