<div id="events">
    {{ meetup.group.description | default | raw }}

    {% if next_event %}
        <h2>Next event</h2>
        {{ include('meetup/event.html.twig', {'event': next_event}) }}
    {% endif %}

    {% for status in statuses if attribute(_context, status ~ '_events') or status == 'upcoming' %}
        {% if not loop.first or status != 'upcoming' %}
            <section id="{{ status }}-events" class="events events--{{ status }}">
                <h2>{{ status | title }} events</h2>

                {% for event in attribute(_context, status ~ '_events') %}
                    {{ include('meetup/event.html.twig') }}
                {% else %}
                    {% if status == 'upcoming' %}
                        <div class="box box--empty">
                            Nothing to announce right now,
                            <a href="{{ app.twitter.url }}">
                                follow us on Twitter
                            </a>
                            for updates.
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}
</div>
