<article id="event-{{ event.id }}" class="event event--{{ event.status }}">
  <header class="event__header">
    <h3>
      <a href="{{ path('event', {id: event.id, slug: event.slug}) }}">
        {{- event.name -}}
      </a>

      <small>
        <time datetime="{{ event.date.format(constant('DATE_W3C')) }}">
          {{ event.date.format('F Y') }}
        </time>
      </small>
    </h3>

    <div class="row">
      <div class="{{ event.photos ? 'col-xs-8 col-sm-9' : 'col-xs-12' }}">
        {{ event.description | striptags | truncate(200, true) | raw }}
      </div>

      {% if event.photos %}
        <div class="col-xs-4 col-sm-3">
          <a href="{{ path('event', {id: event.id, slug: event.slug}) }}">
            <div style="background-image: url('{{ random(event.photos).highres_link }}'); background-size: cover; height: 65px; background-position: 50% 50%;">
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </header>
</article>
