{% for status in statuses %}
    <section id="{{ status }}-events" class="events events--{{ status }}">
        <h2>{{ status | title }} events</h2>

        {% for event in attribute(_context, status ~ '_events') %}
            {{ include('meetup/event.html.twig') }}
        {% else %}
            {% if status == 'upcoming' %}
                <div class="box box--empty">
                    Nothing to announce right now,
                    <a href="{{ app.twitter.url }}">
                        follow us on Twitter
                    </a>
                    for updates.
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endfor %}
