{% if reviews %}
    <section class="reviews box">
        <h2>Reviews</h2>

        <ul class="list">
            {% for review in reviews %}
                <li>
                    <a href="{{ review.link }}">
                        {% if review.photo_url %}
                            <img src="{{ review.photo_url }}" class="avatar" alt="{{ review.name }}">
                        {% endif %}

                        {{ review.name }}
                    </a>

                    <p>{{ review.comment }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
