{% if speakers %}
    <section id="speakers" class="speakers">
        <header class="box__header">
            <h2>Previous speakers</h2>
        </header>

        <div class="row">
        <ul class="list">
            {% for speaker in speakers %}
                <li class="col-xs-4 col-sm-2">
                    {% if speaker.url is defined %}
                        <a
                            href="{{ speaker.url }}"
                            {% if speaker.member.bio is defined %}
                                title="{{ speaker.member.bio }}"
                            {% endif %}
                        >
                            {% if speaker.photo is defined %}
                                <img src="{{ speaker.photo.highres_link | default(speaker.photo.thumb_link) }}" class="avatar avatar-large" alt="{{ speaker.name }}">
                            {% endif %}

                            {% spaceless %}
                                <span class="fn">{{ speaker.name }}</span>
                            {% endspaceless %}
                        </a>
                    {% else %}
                        {{ speaker.name }}
                    {% endif %}

                    {% if speaker.bio is defined %}
                        <p>{{ speaker.bio | raw }}</p>
                    {% endif %}

                    <!-- <ul>
                        {% for talk in speaker.talks %}
                            <li>
                                {% if talk.slides %}
                                    <a href="{{ talk.slides }}">
                                        {{ talk.title }}
                                    </a>
                                {% else %}
                                    {{ talk.title }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul> -->
                </li>
            {% endfor %}
        </ul>
        </div>
    </section>
{% endif %}
